@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Caveat:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

/* header {
  height: 6.5rem;
  display: flex;
  flex-direction: column;
} */

.collapse-bar {
  height: 3.5rem;
  background-color: #ACDF87;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 3px 2px -2px hsla(217, 19%, 35%, 0.7);
}

.logo-box {
  position: relative;
  top: 36px;
  left: 7rem;
  width: 10rem;
  height: 8rem;
  background-color: #ACDF87;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: visibility 0 ease 0.3s;
  z-index: 10;
  box-shadow: 0 3px 2px -2px hsla(217, 19%, 35%, 0.7);
}

.hide {
  visibility: hidden;
}

.logo-link {
  text-decoration: none;
  color: #1E5631;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.logo-link:hover {
  color:
}

.logo {
  border: 4px solid #1E5631;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
}

.logo-img {
  height: 48px;
  width: 48px;
}

.logo-text {
  font-family: 'Bungee', cursive;
}

.handwriting {
  font-family: 'Caveat', cursive;
}

.punchline {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1E5631;
  margin-left: 8rem;
}

.promotion {
  margin-left: auto;
  padding: 0 2.5rem 0 2.5rem;
  background-color: #68BB59;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7rem;
}

.promo-link {
  color: #1E5631;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
}

.promo-link:hover {
  color: #ACDF87;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.navbar {
  height: 3rem;
  width: 100%;
  background-color: #1E5631;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-content: flex-start; */
  align-self: flex-start;
  gap: 2.5rem;
  padding: 0 9.5rem 0 7.5rem;
  position: absolute;
  z-index: 4;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #68BB59;
}

.navbar-brand:hover{
  color: #ACDF87;
}

.navbar-brand:hover .header-img-border {
  border: 2px solid #ACDF87;
}

.header-img-border {
  width: 36px;
  height: 36px;
  border: 2px solid #68BB59;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img#header-img {
  height: 24px;
  width: 24px;
}

.header-img-text {
  font-family: 'Bungee', cursive;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #68BB59;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #ACDF87;
}

.nav-link.active {
  color: #ffffff;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  margin: 0.3rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ACDF87;
}

.content-section {
  min-height: 120vh;
}

section#hero {
  background: url("../img/hero-image.jpg");
  /* background-position: 60% 80%; */
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;


  /* position: relative;
  background: white;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  height: 120%;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("../img/hero-image.jpg"); */
}

.container {
  background-color: green;
  width: 100%;
  height: 100%;
  margin: 0 7rem;
  padding: 2rem 2rem;
}

.gradient-bg {
  /* border: 1px solid red; */
  position: relative;
  z-index: 1;
  top: -30vh;
  padding: 0 7rem;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  background-position: center top;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png");
}

.feature-offset {
  /* border: 1px solid green; */
  min-height: 80vh;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}




@media only screen and (max-width: 992px) {

  .logo-box {
    position: relative;
    top: 36px;
    left: 1rem;
  }

  .punchline {
    margin-left: 1.5rem;
  }

  .promotion {
    margin-right: 0;
  }

  .navbar {
    padding: 0 2.5rem 0 2.5rem;
  }

  .container {
    margin: 0;
  }

}

@media only screen and (max-width: 768px) {

  .promotion {
    display: none;
  }

  .nav-menu {
    gap: 1.5rem;
  }

  .navbar {
    padding: 0 1.5rem 0 2.5rem;
  }

  .container {
    padding: 1rem 1rem;
  }

}

@media only screen and (max-width: 576px) {

  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
  }

  .navbar {
    position: absolute;
    z-index: 5;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6.5rem;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #ACDF87;
    width: 100%;
    padding: 1rem 0.5rem 1rem 0.5rem;
    transition: 0.3s;
    z-index: 5;
  }

  .nav-item{
    margin: 0.5rem 1.5rem;
  }

  .nav-menu.active{
    left: 0;
    top: 6.5rem;
  }

  .nav-link {
    color: #1E5631;
  }

  .nav-link.active {
    color: #4C9A2A;
  }

  .nav-item.active {
    padding: 1rem 1rem;
    border: 1px solid #4C9A2A;
  }

  .punchline {
    display: none;
  }

}



/* media queries at
-below 992px: instead of 7rem spacing make 1rem left, and 0 on right
-below 768px; */
